body {
    background-color: darkcyan;
    margin: auto;
}

.traffic-light-top {
    content: "";
    height: 50px;
    width: 20px;
    background-color: black;
    border-style: solid;
    border-color: black;
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
}

.traffic-light-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: black;
    width: 80px;
    border-radius: 10px;
    margin-top: 40px;
    padding-top: 7px;
    position: fixed;
    left: 0;
    right: 0;
}

.light {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 7px;
    
}

.red {
    background-color: red;
    
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
    
}

.active {
    box-shadow: 0 0 10px white;
}